!!! 5
%html
  %head
    %title= "Grunt Setup"
    %link{ :href => "/stylesheets/style.css", :media => "screen", :rel => "stylesheet" }
    %script{ :src => "/javascripts/new_file.js" }
    %script{ :src => "//localhost:35729/livereload.js" }
  %body
    %h1 Grunt it Haml Style!
    %h1 GruntGruntGruntGrunt it Haml Style!
    %h1 Grunt it Haml Style!
    %h1 Grunt it Haml Style!